$mainColor: DodgerBlue;

body { 
  display: flex;
  justify-content: center;
  background-color: $mainColor;
  padding: 40px;
}

.title {
  font-family: "helvetica", "arial", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
}
